
* {
  margin: 0;
  padding: 0;
}

.myBody {
  margin: 0;
  padding: 0;
  background: white;
}

.logo {
	height: 30px;
	width: 30px;
	margin-bottom: 3px;
}

#nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
	  margin: 0;
}

#nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
#nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
#nav a:hover {
  text-decoration: none;
  color: white;
  background-color: #005f5f;
}

 
#nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 

.myHeader {
	color: #2E8AE6;
	margin-left: 40px;
}

.navbar-brand {
	position: relative;
    z-index: 999;
	top: -8px;
}

.myPanel {
	float: left;
	border: 1px solid #696373;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-mos-border-radius: 5px 5px 0 0;
	box-shadow: 5px 5px 1px #ccc;
	margin: 3%;
}

.myPanel .heading {
	background: #1DA1B3;
	border: 1px solid #696373;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-mos-border-radius: 5px 5px 0 0;
	padding: 10px 20px;
}

.myPanel .panelBody {
	background: #D8E6F2;
	padding: 10px 20px;
}

.myPanel:hover {
	box-shadow: 10px 10px 5px #ccc;
	border: 1px solid black;
}

.aboutPanel {
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
	border: 2px solid #FFCC66;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-mos-border-radius: 5px 5px 5px 5px;
	overflow: hidden;
	background: rgba(102, 102, 153, 0.8);
}

.aboutPanel .heading {
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 
	'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 
	'sans serif';
	color: black;
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
	background: #2447B2;
	border: 1px solid #696373;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-mos-border-radius: 5px 5px 0 0;
	padding: 10px 20px;
}

.aboutPanel .panelBody {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px 20px;
}

.statement {
	position: relative;
	z-index: 99;
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
	border: 1px solid #FFCC66;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-mos-border-radius: 5px 5px 5px 5px;
}

.statement .heading {
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 
	'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 
	'sans serif';
	color: white;

	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
	background: #2447B2;
	opacity: .8;
	border: 1px solid #696373;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-mos-border-radius: 5px 5px 0 0;
	padding: 10px 20px;
}

.statement .panelBody {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: rgba(102, 102, 153, 0.8);
	color: white;
	padding: 10px 20px;
}

/*large screen*/
@media screen and (min-width: 600px) {
  #nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .statement {
  	width: 55%;
  }

  .aboutPanel {
  	width: 40%;
  }
  
}

.contactForm {
	padding-top: 40px;
	margin: 0 auto; 
	width:380px;
}

.galleryPageLinks {
    margin-top: 40px;

    list-style-type: none;
    overflow: hidden;
    /*background-color: #333;*/
    text-align: center;
}

.galleryPageLinks > li {
    margin-bottom: 5px;
    display: inline-block;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-mos-border-radius: 10px 10px 10px 10px;
}

.galleryPageLinks > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-mos-border-radius: 10px 10px 10px 10px;
}

/* Change the link color to #111 (black) on hover */
.galleryPageLinks > li a:hover {
    background-color: #111;
    cursor: pointer;
}

.galleryPageLinks > li a.active {
    background-color: #008080;
    cursor: default;
}

.item-thumbs {
  display: inline-block;
}

@font-face {
    font-family: 'Adine Kirnberg'; /*a name to be used later*/
    src: url('../Fonts/Adine_Kirnberg.ttf'); /*URL to font*/
}


/*phones and small devices*/
@media (max-width: 767px) {
    #nav li {
      width: 100%;
      font-family: 'Oswald', sans-serif;
      line-height: 50px;
      height: 50px;
      display: inline-block;
      border-bottom: 1px solid #888;
      font-size: 1.5em;
      margin-right: -4px;
    }

    .myHeader {
        display: none;
    }

    .aboutPanel {
        width: 90%;
    }

    .displayNone {
        display: none;
    }
}

/* ==================================================
   Isotope Filtering
================================================== */

/**** Isotope Filtering ****/
 
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.centerThis {
  margin: 0 auto;
}

.item-thumbs {
  margin: 10px;
}