

.myBody {
  margin: 0;
  padding: 0;
  background: white;
}

.logo {
	height: 30px;
	width: 30px;
	margin-bottom: 3px;
}

#nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
	  margin: 0;
}

#nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
#nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
#nav a:hover {
  text-decoration: none;
  color: white;
  background-color: #005f5f;
}

 
#nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 

.myHeader {
	color: #2E8AE6;
	margin-left: 40px;
}

.navbar-brand {
	position: relative;
    z-index: 999;
	top: -8px;
}

.myPanel {
	float: left;
	border: 1px solid #696373;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-mos-border-radius: 5px 5px 0 0;
	box-shadow: 5px 5px 1px #ccc;
	margin: 3%;
}

.myPanel .heading {
	background: #1DA1B3;
	border: 1px solid #696373;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-mos-border-radius: 5px 5px 0 0;
	padding: 10px 20px;
}

.myPanel .panelBody {
	background: #D8E6F2;
	padding: 10px 20px;
}

.myPanel:hover {
	box-shadow: 10px 10px 5px #ccc;
	border: 1px solid black;
}


.paint, .paintWide {
	border: 2px solid rgba(255, 153, 51, 0.7);
	position: relative;
	z-index: 2147483647;
}

.paint:hover, .paintWide:hover {
	cursor: pointer; 
	cursor: hand;
}


.img {
	max-width: 100%;
}

.clicked {
	
}

.clicked_paintWide {

}

.backGallery {
	display: none;
}

.caption {
display: inline;
}



#scrollup{
    background-image: url('../Art/up-arrow.png');
    width: 70px;
    height: 70px;
    position:fixed;
    opacity: .8;
    bottom:50px;
    right:50px;
    display:none;
    text-indent:-9999px;
    z-index: 2147483648;
}

#scrollup:hover {
	cursor: pointer; 
	cursor: hand;
}

.aboutPanel {
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
	border: 2px solid #FFCC66;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-mos-border-radius: 5px 5px 5px 5px;
	overflow: hidden;
	background: rgba(102, 102, 153, 0.8);
}

.aboutPanel .heading {
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 
	'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 
	'sans serif';
	color: black;
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	background: #2447B2;
	border: 1px solid #696373;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-mos-border-radius: 5px 5px 0 0;
	padding: 10px 20px;
}

.aboutPanel .panelBody {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px 20px;
}

.ericaPic {
	float: left;
	border: 2px solid #696373;
	margin-right: 20px;
	margin-bottom: 10px;
	width: 45%;
	height: auto;

}

.statement {
	position: relative;
	z-index: 99;
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
	border: 1px solid #FFCC66;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-mos-border-radius: 5px 5px 5px 5px;
}

.statement .heading {
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 
	'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 
	'sans serif';
	color: white;

	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	background: #2447B2;
	opacity: .8;
	border: 1px solid #696373;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-mos-border-radius: 5px 5px 0 0;
	padding: 10px 20px;
}

.statement .panelBody {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: rgba(102, 102, 153, 0.8);
	color: white;
	padding: 10px 20px;
}

/*large screen*/
@media screen and (min-width: 600px) {
  #nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .statement {
  	width: 55%;
  }

  .aboutPanel {
  	width: 40%;
  }
  
  .ericaPic {
	width: 30%;
  }

  .clicked {
  	position: fixed; /* or absolute */
  	top: 12%;
  	left: 35%;
  	width: 500px;
  	height: 500px;
  }

  .clicked_paintWide {
  	position: fixed; /* or absolute */
  	top: 12%;
  	left: 32%;
  	width: 700px;
  	height: 500px;
  }

  .backGallery {
  	display: inline;
  	margin-top: 10px;
  	margin-left: 20px;
  	height: 200%;
  }

  .caption {
	display: none;
  }

  .captionClicked {
	display: inline;
  }
  
}


@media screen and (max-width: 599px) {
	.displayNone {
		display: none;
	}
}

.contactForm {
	padding-top: 40px;
	margin: 0 auto; 
	width:380px;
}

@font-face {
    font-family: 'Adine Kirnberg'; /*a name to be used later*/
    src: url('../Fonts/Adine_Kirnberg.ttf'); /*URL to font*/
}

#galPages ul {
	list-style: none;
	/*background-color: #444;*/
	margin-top: 10px;
	text-align: center;
	padding: 0;
	/*margin: 0 300px 0 300px;*/
}

#galPages li {
	font-family: 'Oswald', sans-serif;
	width: 75px;
	border-bottom: none;
	height: 25px;
	line-height: 25px;
	font-size: 1em;
	display: inline-block;
	margin-left: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #7A29CC;
}
 
#galPages a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}	

#galPages a:hover {
  text-decoration: none;
  color: white;
  background-color: #0099FF;
}

 
#galPages a.active {
  background-color: #000099;
  /*color: #444;*/
  cursor: default;
}